html(lang='en')
head
    meta(charset='utf-8')
    title Game
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css', media='screen')
    script(src='/javascript/raphael.js')
    script(src='/javascript/main.js')
  body
    h1 
    #canvas

